<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lima.print"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Declare that the app uses Bluetooth hardware, but it's not strictly required. -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <!-- Permiso para mostrar notificaciones (y Toasts desde el fondo en algunas versiones) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Pre-Android 12 Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!--
         Location permission is required for Bluetooth scanning on Android versions 6 to 11.
         From Android 12 onwards, BLUETOOTH_SCAN is used instead.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="31" />

    <!-- Android 12+ (API 31+) permissions -->
    <!--
         BLUETOOTH_SCAN is needed to discover nearby Bluetooth devices.
         'neverForLocation' asserts that we don't use scan results to derive physical location.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <!-- BLUETOETOOTH_CONNECT is needed to connect to paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:label="LimaPrint"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".PrintActivity"
            android:exported="true"

            android:theme="@style/Theme.TransparentDeepLink"

            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
            <!-- Deep link for limaprint:// -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="limaprint"/>
                <data android:scheme="rawbt"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
